<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <span class="copyright">Copyright &copy; m6d.ir {{now| date:'yyyy'}}</span>
      </div>
      <div class="col-md-4">
        <ul class="list-inline social-buttons">
          <li class="list-inline-item">
            <a href="https://github.com/m6devin" target="_blank">
              <fa-icon [icon]="['fab', 'github']" ></fa-icon>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.linkedin.com/in/gholami-mohammad/" target="_blank">
              <fa-icon [icon]="['fab', 'linkedin']" ></fa-icon>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://stackoverflow.com/users/story/4422527" target="_blank">
              <fa-icon [icon]="['fab', 'stack-overflow']" ></fa-icon>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://t.me/m6devin" target="_blank">
              <fa-icon [icon]="['fab', 'telegram']" ></fa-icon>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://twitter.com/m6devin" target="_blank">
              <fa-icon [icon]="['fab', 'twitter']" ></fa-icon>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
