<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav" [class.navbar-shrink]="navIsFixed">
  <div class="container">
    <a pageScroll class="navbar-brand" href="#page-top">Mohammad Gholami</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav text-uppercase ml-auto">
        <li class="nav-item">
          <a pageScroll class="nav-link" href="#services">Services</a>
        </li>
        <li class="nav-item">
          <a pageScroll class="nav-link" href="#portfolio">Portfolio</a>
        </li>
        <li class="nav-item">
          <a pageScroll class="nav-link" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a pageScroll class="nav-link" href="#team">Team</a>
        </li>
        <li class="nav-item">
          <a pageScroll class="nav-link" href="#clients">Our Clients</a>
        </li>
        <li class="nav-item">
          <a pageScroll class="nav-link" href="#contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
