// Styling for the timeline section
.timeline2 {
  position: relative;
  padding: 0;
  list-style: none;
  &:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 17px;
    width: 2px;
    margin-left: -1.5px;
    content: '';
    background-color: $gray-200;
  }
  > li {
    position: relative;
    min-height: 50px;
    margin-bottom: 50px;
    &:after,
    &:before {
      display: table;
      content: ' ';
    }
    &:after {
      clear: both;
    }
    .timeline-panel {
      position: relative;
      float: left;
      width: 100%;
      padding: 0 20px 0 100px;
      text-align: left;
      &:before {
        right: auto;
        left: -15px;
        border-right-width: 15px;
        border-left-width: 0;
      }
      &:after {
        right: auto;
        left: -14px;
        border-right-width: 14px;
        border-left-width: 0;
      }
    }
    .timeline-image {
      position: absolute;
      z-index: 100;
      left: 0;
      width: 30px;
      height: 30px;
      margin-left: 0;
      text-align: center;
      color: white;
      border: 7px solid $gray-200;
      border-radius: 100%;
      background-color: $primary;
      h4 {
        font-size: 10px;
        line-height: 14px;
        margin-top: 12px;
      }
    }
    .timeline-last{
      width: 60px;
      height: 60px;
      left: -9px;
    }
    &.timeline-inverted > .timeline-panel {
      float: right;
      padding: 0 20px 0 100px;
      text-align: left;
      &:before {
        right: auto;
        left: -15px;
        border-right-width: 15px;
        border-left-width: 0;
      }
      &:after {
        right: auto;
        left: -14px;
        border-right-width: 14px;
        border-left-width: 0;
      }
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  .timeline-heading {
    h4 {
      margin-top: 0;
      color: inherit;
      &.subheading {
        text-transform: none;
      }
    }
  }
  .timeline-body {
     > ul,
    > p {
      margin-bottom: 0;
    }
  }
}
@media(max-width: 767px){
  .timeline2{
    > li{
      .timeline-panel {
        position: relative;
        float: left;
        width: 100%;
        padding: 0 20px 0 42px;
        text-align: left;
      }
    }
  }

}
.rtl {
  .timeline2 {
    &:before {
      right: 17px;
      margin-right: -1.5px;
    }
    > li {
      .timeline-panel {
        float: right;
        width: 100%;
        padding: 0 100px 0 20px;
        text-align: right;
        &:before {
          left: auto;
          right: -15px;
          border-left-width: 15px;
          border-right-width: 0;
        }
        &:after {
          left: auto;
          right: -14px;
          border-left-width: 14px;
          border-right-width: 0;
        }
      }
      .timeline-image {
        right: 0;
        margin-right: 0;
      }
      .timeline-last{
        right: -9px;
      }
    }
  }
  @media(max-width: 767px){
    .timeline2{
      > li{
        .timeline-last{
          right: -9px;
        }
        .timeline-panel {
          float: right;
          padding: 0 42px 0 20px;
          text-align: right;
        }
      }
    }

  }
}
